.col1  {width: 8.3%}
.col2  {width: 16.6%}
.col3  {width: 25%}
.col4  {width: 33.3%}
.col5  {width: 41.6%}
.col6  {width: 50%}
.col7  {width: 58.3%}
.col8  {width: 66.6%}
.col9  {width: 75%}
.col10 {width: 83.3%}
.col11 {width: 91.6%}
.col12 {width: 100%}

html {
    height: 100%;
    background-color: white;
}

body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: white;
}

#header{
    height: 200px;
    background-color: darkturquoise;
}

h1 {
    padding: 0;
    margin: 0;
    padding-left: 33.3%;
    padding-top: 5%;
    text-align: center;
}

#tableholder {
    height: 16.6%;
    padding-left: 75%;
}

table {
    position: fixed;
    top: 33%;
    width: 20%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

footer {
    height: 200px;
    background-color: darkturquoise;
    margin-top: 10%;
}

.slidecontainer {
    width: 20%;
    position: fixed;
    top: 53%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}